<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905371447196-khhbm3ksjuccm0b355v39ptsfqu0jdim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905371447196-khhbm3ksjuccm0b355v39ptsfqu0jdim</string>
	<key>API_KEY</key>
	<string>AIzaSyCMXCQn242Z7blW0MoNaGcL5iOy38OyBP4</string>
	<key>GCM_SENDER_ID</key>
	<string>905371447196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otakuverse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>otakuverse-afe63</string>
	<key>STORAGE_BUCKET</key>
	<string>otakuverse-afe63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905371447196:ios:f50d5457f9904dd0486259</string>
</dict>
</plist>